
//HEADER
$header-bgc: #fffffa;
$header-navbar-link-color: #5a5a5a;

//NAV
$nav-enlace-color: #5a5a5a;


//FOOTER
$footer-menu-bgc: #3d4351;
$footer-bgc: #20232c;
$footer-right-color: #fff;

//INICIO ********************************************
// desarrollo
$desarrollo-bgc: #5d8fb6;
$desarrollo-h2-color : #fff;
$desarrollo-h4-color : #fff;
$desarrollo-p-color : #fff;

// capacitacion
$capacitacion-bgc: #fff;
$capacitacion-h2-color : #424b51;
$capacitacion-h2-span-color: #d57d33;
$capacitacion-h4-color : #fff;
$capacitacion-p-color : #7e7d7d;
$capacitacion-a-color : #fff;

//consultoria
$consultoria-bgc: #ebeeed;
$consultoria-h2-color: #424b51;
$consultoria-h2-span-color: #6d8e61;

$consultoria-thumbnail-color: #7e7d7d;
