.verde{
    color: #96b523;
}

.naranja{
    color: #ff7600;    
}

/*---------------------- home ----------------*/
.text-indicadores{
    font-size: 130%;
    margin-top: 10%;
}

.indicadores img{
    width: 50%;
    margin: 0 auto;
}

.por-que{
    color: #ffffff;
    background: #333;
}

.por-que .row{
    padding: 5% 0;
}

.por-que .titulo{
    font-size: 350%;
    margin: 5%;
}

.check-list{
    list-style-image: url("../images/inicio/check-list.png");
}

.check-list li{
    padding: 4%;
}
/*-------------------------------------------- */
/*------------------ Empresa ----------------*/
.sub-menu{
    color: #FFF;
    font-size: 16px;
    /*margin-top:  -100px;*/
}

.boton{
    background: rgba(55, 55, 55, .8);
    padding: 5%;
    text-align: center;
    transition: 1.2s all;
}
.boton:hover{
    background: rgba(228, 78, 60, 1);
}

.sobre{
    background-color: #ffffff;
    padding: 3%;
}

.sobre h2{
    color: #7e7d7d;
}

.sobre p{
    font-size: 20px;
    margin: 5% 0;
    color: #7e7d7d;
}

.sobre h2 span{
    font-weight: bold;
}

.sobre p.eslogan {
    margin: 5% 5% 0 5%;
    font-size: 30px;
}

.capacidad{
    background: #D2D6D5;
}

.capacidad ul{
    padding: 7%;
}
/*-------------------------------------------- */
/*------------------ Carrousel ----------------*/
    * {
      box-sizing: border-box;
    }

    .slider {
        width: 100%;
        height: auto;
        margin: 50px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
/*--------------------------------------------*/