/*Estilos del encabezado-barra de navegación*/

body header .navbar {
  background-color: #20232c;   
} 

body header .navbar-nav {

    margin-left: 26%;

}


/*Estilos del encabezado-barra de navegación*/
body header .navbar-nav {
  background-color: #20232c; 
}

/*Estilo Normal de los elementos de la barra de navegación*/
.navbar-nav > li{
  /*border: 1px solid #E44E3C;*/
  margin: 0 2px;
  float: left;
}

/*Estilos del Hover de los elementos de la barra de navegación*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #FFF;
  background-color: black;
  border-bottom: 3px solid #E44E3C;
}
    
/*Estilos del Active de los elementos de la barra de navegación*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: #000;
  border-bottom: 3px solid #E44E3C;
}

/*Estilos de los elemento A de la barra de navegación*/
.navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

/*Estilo del elemento A cuando abre el submenú servicios*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #000;
  color: #FFF;
  }


 /*Estilo del submenú servicios*/
.dropdown-menu {
  background-color: black;
  padding: 2px;
  min-width: 150px;
}

  /*Estilo Normal de los elementos del submenú*/
.dropdown-menu > li> a{
  color: #8a9190;
  font-weight: bold;
  background-color: black;
  padding: 5px 15px;
}

/*Estilo del Active de los elementos del submenú*/
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #FFF;
  background-color: #000;
  border-bottom: 3px solid #E44E3C;
}

/*Estilo del Hover de los elementos del submenú*/
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #FFF;
  background-color: black;
  border-bottom: 3px solid #E44E3C;
}

/*Estilo de los vinculos redes sociales */

.redes{

  
  margin: 7px 0px;
}

.correo {
  float:right;
  padding: 0 3px;
}
.facebook {
   float:right;
   padding: 0 3px;
}
.twitter {
   float:right;
   padding: 0 3px;
}
.instagram {
   float:right;
   padding: 0 3px;
}

.telefonos{
  color: #FFF;
}
.email {
float:right;
padding: 0 20px;
margin-top: 5px;
}
.telelocal {
float:right;
padding: 0 3px;
margin-top: 5px;

}

.telefonos .email >p{
  font-size: 12px;
}
.telefonos .telelocal >p{
  font-size: 12px;
}

.img-responsive {
    max-width: 80%
  }



@media (max-width: 494px) {

 .redes {
   margin-right:130px;
  }
.telefonos{
  display: none;
}
  
}

@media (max-width: 767px) {


  body header .navbar-nav {
    float: left;
    margin-top: 0;
    margin: 7.5px -15px;
  }
  .navbar-nav > li{
   width: 50%;
  
  }


  .navbar-toggle {
    margin-right: 15%;
    margin-top: 3.5%;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFF;
    background-color: black;
    border-bottom: 3px solid #E44E3C;
  }

.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus{
  color: #FFF;
  background-color: #000;
  border-bottom: 3px solid #E44E3C;
}
}

/*Estilo del Footer */
body footer {
  width: 100%;
  height: auto;
  background-color: #20232c;
  color: #818181;
  padding: 50px 0px 20px 0px;
}


footer .paginas{
  padding-left: 10%;
}
footer .titulo{
  border-bottom: 4px solid #62B376;
  font-size: 24px;
}
footer a{
  font-size: 18px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #818181;
  text-decoration: none;
}
footer a:hover{
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #FFFFFF;
  text-decoration: none;
}





