
/*Estilo del contenedor de la cabecera*/
.container-fluid{
  background-color: #FFFFFF;
}
/*Estilo del div de la parte superior de la cabecera*/
.top-cabecera{
  background-color: white;
  box-sizing: border-box;
}

/*Estilo del div de la barra de navaegación*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {

background-color: #33332F;
text-align: center;
}

/*Estilo de la barra de navehgación*/
body header .navbar-nav {
  display: inline-block;
  float: none; 
 }

/*Estilo de los li-a barra de nav*/
  body header .navbar-nav li a {
  padding: 15px 25px 14px;
  font-size: 0.8rem;
  color: #eee !important;
}

/*Estilos del Hover de los elementos de la barra de navegación*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #84B522  !important;
  background-color: #000;
  border-bottom: 1px solid #84B522 ;
}
    
/*Estilos del Active de los elementos de la barra de navegación*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #84B522  !important;
  background-color: #000;
  border-bottom: 1px solid #84B522;
  
}

/*Estilo del div del logo de Biosoft*/
 .logo-biosoft {
	margin-top: 9%;
  margin-bottom:3%;
 }

 .logo-biosoft img {
  max-width: 50%;
 }


/*Estilo del div del logo de Biosoft y del boton menú hamburguesa*/
 .navbar-header{
  width: 30%;
  margin-left: 40%;
 }

/*Estilo del div de las redes sociales*/
.redes{
  
  float: left;
  margin-top: 3%;
  margin-left: 9%;
  margin-bottom: 2%;

}

/*Estilo del div del telf de contacto y correo contacto*/
.telefonos{
  width: 30%;
  background-color:#FFFFFF;
  display: inline-block;
  margin-top: 1%;
  margin-left: 2%;
  box-sizing: border-box;
}

.telelocal{
  width: 45%;
  display: inline-block;
}

.email{

  width: 45%;
  display: inline-block;

}

.telelocal p{
font-size: 14px;
}

.email p{
font-size: 14px;
}
/*Estilo de los  div de las redes sociales*/
.correo {
  float:right;
  padding: 0 3px;
}

.twitter {
   float:right;
   padding: 0 3px;
}

.facebook {
    float: right;
    padding: 0 3px;

  }
.instagram {
   float:right;
   padding: 0 3px;
}

.email {
float:right;

}

.fa{
  color: #33332F;
  font-size: 26px;
}

.navbar-toggle{
  width: 4%;
  display: none;
  float: left;
}