@charset "utf-8";
/* CSS Document */
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';
@import 'https://fonts.googleapis.com/css?family=Oswald:300,400,700';

html{
        font-size: 16px;
}

body {
    margin:0;
    font-family: 'Open Sans', sans-serif;
    line-height:1.5;
    color: #333333;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin: 1rem 0;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
    margin: .8rem 0;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin: .7rem 0;
}

p{
    font-size: 1rem;
}

<<<<<<< HEAD
hr {
=======
hr{
>>>>>>> refs/remotes/seven07ve/master
    border-bottom: 1px solid #d9d9d9;
}
/*----------colors---------------*/
.verde{
    color: #84B522;
}

.naranja{
    color: #f47010;
}

.lght-gris{
    color: color: #77776d;    
}

.drk-gris{
    color: #33332F;
}
/*-------------------------------*/
/*----------- Camera slider-------*/
		a {
			color: #f47010;
		}
		a:hover {
			text-decoration: none;
            color:  #f47010;
		}
		#back_to_camera {
			clear: both;
			display: block;
			height: 80px;
			line-height: 40px;
			padding: 20px;
		}
		.fluid_container {
			margin: 0 auto;
			width: 100%;
            margin-top: 85px;
		}
/*--------------------------------*/

.titulo-seccion{
    position: relative;
    text-align: center;
    font-size: 1.625rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.titulo-seccion:before {
    left: 0%;
}

.titulo-seccion:after {
    right: 0%;
}

.titulo-seccion:before, .titulo-seccion:after{
    width: 25%;
    height: 3px;
    display: block;
    position: absolute;
    top: 13px;
    content: '';
    background: #33332F;
}

/*-------------- home-------------*/
.modulos{
    margin-bottom: 30px;
}

.modulos hr{
<<<<<<< HEAD
    border-bottom: 1px solid #d9d9d9;
=======
>>>>>>> refs/remotes/seven07ve/master
    margin: 0px 0px 10px;
}

.modulos .titulo-verde,
.modulos .titulo-naranja{
    color: #33332F;
    font-family: 'Monserrat', sans-serif;
    font-size: 0.95rem;
    font-weight: 800;
    transition: .5s all;
    text-transform: uppercase;
}

.modulos:hover .titulo-verde{
    color: #84B522;
    font-size: 0.95rem;
    font-weight: 800;
    transition: .5s ease-out;
}

.modulos:hover .titulo-naranja{
    color: #f47010;
    font-size: 0.95rem;
    font-weight: 800;
    transition: .5s ease-out;
}

.modulos p{
    color: #77776d;
    font-size: 0.87rem;
    font-weight: 600;
}

.modulos:hover p{
    color: #444;
    font-size: 0.87rem;
    font-weight: 600;
}

.modulos .ind-icons{
    opacity: .6;
    transition: .5s ease-out;
}

.modulos:hover .ind-icons{
    opacity: 1;
    transition: .5s all;
}

<<<<<<< HEAD
.porque img {
    max-width: 300px;
=======
.porque{
    background-color: #f4f3f0;
    border: 1px solid #e2e1db;
    padding: 10px;
}

.porque img {
    max-width: 340px;
>>>>>>> refs/remotes/seven07ve/master
}

.porque h3 {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    color: #FFFFFF;
    margin-top: 0px;
    display: block;
    position: absolute;
    top: 25%;
    left: 0%;
}

.porque h3.capacitacion:before {
    width: 50%;
    height: 3px;
    margin-top: -10px;
    display: block;
    position: absolute;
    left: 100%;
    content: '';
    background: #fff;
    opacity: 0;
    transition: .3s linear;
}

.porque h3.capacitacion:after {
    width: 50%;
    height: 3px;
    margin-top: 7px;
    display: block;
    position: absolute;
    left: -50%;
    content: '';
    background: #fff;
    opacity: 0;
    transition: .3s linear;
}
.porque:hover h3.capacitacion:before {
    left: 25%;
    opacity: 1;
}

.porque:hover h3.capacitacion:after {
    left: 25%;
    opacity: 1;
}

.check-list{
    list-style-image: url(../images/inicio/check-list.png);
    text-align: left;
<<<<<<< HEAD
=======
    min-height: 280px;
>>>>>>> refs/remotes/seven07ve/master
}

.check-list li{
    padding: 10px 0px;
}
<<<<<<< HEAD
/*---------------------------------*/

@media screen and (max-width: 680px){

    .titulo-seccion:before, .titulo-seccion:after{
    width: 15%;
    }
    
}


/*-----------------Equipo-------------------*/


#equipo .nombre p{
   color: #84B522; 
   font-weight: bold; 
}

#equipo .nombre p span { 
    color: #7e7d7d;  
}

#equipo .integrante {
    margin-bottom: 4%;
}

#equipo .experiencia .descripcion p {
    margin-top: 17%;
}

.texto-equipo{
    margin-top: 15px;
    margin-bottom: 37px;
}

.linkedin{
  float: left;
  margin-right: 1%;
}

#equipo .fa:hover{
    color: #84B522;
}

.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 270px;
    width: 270px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    margin-top: 53px;
    margin-left:10%;  
}

  /*------Media Queries de la Pag Equipo*/ 

@media (max-width: 991px) {
    .avatar{
        margin: auto !important;
        margin-bottom: 2% !important;
    } 

    #equipo .nombre{
        text-align: center !important;
        margin-top:2%; 
    }

    #equipo .nombre .linkedin{
        float: none;
    }

    #equipo .nombre .text-left{
        text-align: center;
    }
}

    #equipo .experiencia .descripcion p {
    margin-top: 23%;
    }
}

@media (max-width: 767px) {
    .texto-equipo {
        margin-top: 143px;
    }
}

@media (max-width: 400px) {
    #equipo .titulo-seccion{
       font-size: 1.1rem; 
    }
}





=======

.trabajos{
    background-color: #f4f3f0;
    border: 1px solid #e2e1db;
    padding: 10px 0px;
    min-height: 600px;
}

.trabajos .titulo-verde,
.trabajos .titulo-naranja{
    color: #33332F;
    font-family: 'Monserrat', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 2rem;
    transition: .5s all;
}

.trabajos:hover .titulo-verde{
    color: #84B522;
    font-size: 0.95rem;
    font-weight: 800;
    transition: .5s ease-out;
}

.trabajos:hover .titulo-naranja{
    color: #f47010;
    font-size: 1.2rem;
    font-weight: 800;
    transition: .5s ease-out;
}

.trabajos hr{
    width: 90%;
}

.trabajos img{
    max-width: 340px;
}

.trabajos p{
    padding: 20px;
    text-align: justify;
}
/*---------------------------------*/
/*------------------ Empresa ----------------*/
.sub-menu{
    color: #FFF;
    font-size: 16px;
    /*margin-top:  -100px;*/
}

.boton{
    background: #33332f;
    padding: 5%;
    text-align: center;
    transition: 1.2s all;
}
.boton:hover{
    background: rgba(228, 78, 60, 1);
}

.sobre{
    padding: 3% 0px;
}

.sobre-img{
    margin: 3% 0;
}

.sobre p{
    font-size: 20px;
}

.sobre h2 span{
    font-weight: bold;
}

.sobre p.eslogan {
    margin-bottom: 5%;
    font-size: 30px;
}


/*-------------------------------------------- */

/*--------------------------------------------*/
@media screen and (max-width: 1024px){

    .check-list{
        min-height: 310px;
    }
    
}
@media screen and (max-width: 800px){

    .check-list{
        min-height: auto;
    }
    
}
@media screen and (max-width: 680px){

    .titulo-seccion:before, .titulo-seccion:after{
    width: 15%;
    }
}
@media screen and (max-width: 320px){

    h4.boton{
        font-size: 12px;
    }
}
>>>>>>> refs/remotes/seven07ve/master
